.category_wrap {}

.category_container {
 margin: 0 auto;
 width: 300px;
}

.category_container_flex {
 display: flex;
 justify-content: space-between;
}

.category_element {
 width: 700px;
 background-color: rgba(255, 253, 253, 0.450);
 cursor: pointer;
 text-align: center;
 border-radius: 8px;
 size: 20px;
 color: white;
 margin: 20px;
 padding: 10px;
 transition: all ease 400;
}
.category_element:hover{
 text-decoration: underline;
}
.infoPage_button {
 width: 500px;
 height: 50px;
 border: 3px solid rgb(249, 180, 61);
 background-color: rgb(15, 9, 29);
 color: rgb(249, 180, 61);
 size: 30px;
 text-align: center;
 font-weight: bold;
 border-radius: 8px;
 transition: all ease 600;
 margin-bottom: 30px;
}

.infoPage_button:hover {
 background-color: rgb(249, 180, 61);
 color: black;
}